{% extends 'layouts/base.html' %}
{% load static %}


{% block content %}
<section class="page-section" id="about">
    <div class="container">
        {% for i in object_list %}
        <div class="text-center">
            <h2 class="section-heading text-uppercase">{{i.title}}</h2>
            <h3 class="section-subheading text-muted">{{i.sub_title}}</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'img/about/1.jpg' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>{{i.text_title}}</h4>
                        <h4 class="subheading">{{i.text_sub_title}}</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">{{i.text_description}}</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'img/about/2.jpg' %}" alt="..." /></div>
                http://127.0.0.1:8000/    <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>{{i.text_title_2}}</h4>
                        <h4 class="subheading">{{i.text_sub_title_2}}</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">{{i.text_description_2}}</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'img/about/3.jpg' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>{{i.text_title_3}}</h4>
                        <h4 class="subheading">{{i.text_sub_title_3}}</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">{{i.text_description_3}}</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'img/about/4.jpg'%}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>{{i.text_title_4}}</h4>
                        <h4 class="subheading">{{i.text_sub_title_4}}</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">{{i.text_description_4}}</p></div>
                    {% endfor %}
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Bu
                        <br />
                        mening
                        <br />
                        birinchi projektim
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>

{% endblock %}