{% extends 'layouts/base.html' %}
{% load static %}


{% block content %}
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        {% for object in object_list %}
        <div class="text-center">
            <h2 class="section-heading text-uppercase">{{object.title}}</h2>
            <h3 class="section-subheading text-muted">{{object.sub_title}}</h3>
            
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 1-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'img/portfolio/1.jpg' %}" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">{{object.picture_title}}</div>
                        <div class="portfolio-caption-subheading text-muted">{{object.picture_sub_title}}</div>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 2-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'img/portfolio/2.jpg' %}" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">{{object.picture_title_2}}</div>
                        <div class="portfolio-caption-subheading text-muted">{{object.picture_sub_title_2}}</div>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 3-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'img/portfolio/3.jpg' %}" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">{{object.picture_title_3}}</div>
                        <div class="portfolio-caption-subheading text-muted">{{object.picture_sub_title_3}}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <!-- Portfolio item 4-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'img/portfolio/4.jpg' %}" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">{{object.picture_title_4}}</div>
                        <div class="portfolio-caption-subheading text-muted">{{object.picture_sub_title_4}}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                <!-- Portfolio item 5-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'img/portfolio/5.jpg' %}" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">{{object.picture_title_5}}</div>
                        <div class="portfolio-caption-subheading text-muted">{{object.picture_sub_title_5}}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Portfolio item 6-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'img/portfolio/6.jpg' %}" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">{{object.picture_title_6}}</div>
                        <div class="portfolio-caption-subheading text-muted">{{object.picture_sub_title_6}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'img/close-icon.svg' %}" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            
                            <!-- Project details-->
                            <h2 class="text-uppercase">{{object.detail_title}}</h2>
                            <p class="item-intro text-muted">{{object.detail_sub_title}}</p>
                            <img class="img-fluid d-block mx-auto" src="{% static 'img/portfolio/1.jpg' %}" alt="..." />
                            <p>{{object.detail_description}}</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Client:</strong>
                                    {{object.detail.client}}
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    {{object.detail_category}}
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 2 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'img/close-icon.svg' %}" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">{{object.detail_title_2}}</h2>
                            <p class="item-intro text-muted">{{object.detail_sub_title_2}}</p>
                            <img class="img-fluid d-block mx-auto" src="{% static 'img/portfolio/2.jpg' %}" alt="..." />
                            <p>{{object.detail_description_2}}</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Client:</strong>
                                    {{object.detail_client_2}}
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    {{object.detail_category_2}}
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 3 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'img/close-icon.svg'%}" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">{{object.detail_title_3}}</h2>
                            <p class="item-intro text-muted">{{object.detail_sub_title_3}}</p>
                            <img class="img-fluid d-block mx-auto" src="{% static 'img/portfolio/3.jpg' %}" alt="..." />
                            <p>{{object.detail_description_3}}</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Client:</strong>
                                    {{object.detail_client_3}}
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    {{object.detail_category_3}}
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 4 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'img/close-icon.svg'%}" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">{{object.detail_title_4}}</h2>
                            <p class="item-intro text-muted">{{object.detail_sub_title_4}}</p>
                            <img class="img-fluid d-block mx-auto" src="{% static 'img/portfolio/4.jpg'%}" alt="..." />
                            <p>{{object.detail_description_4}}</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Client:</strong>
                                    {{object.detail_client_4}}
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    {{object.detail_client_4}}
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 5 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'img/close-icon.svg'%}" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">{{object.detail_title_5}}</h2>
                            <p class="item-intro text-muted">{{object.detail_sub_title_5}}</p>
                            <img class="img-fluid d-block mx-auto" src="{% static 'img/portfolio/5.jpg'%}" alt="..." />
                            <p>{{object.detail_description_5}}</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Client:</strong>
                                    {{object.detail_client_5}}
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    {{object.detail_category_5}}
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 6 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'img/close-icon.svg'%}" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">{{object.detail_title_6}}</h2>
                            <p class="item-intro text-muted">{{object.detail_sub_title_6}}</p>
                            <img class="img-fluid d-block mx-auto" src="{% static 'img/portfolio/6.jpg'%}" alt="..." />
                            <p>{{object.detail_description_6}}</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Client:</strong>
                                    {{object.detail_client_6}}
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    {{object.detail_category_6}}
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close Project
                            </button>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}